{% extends 'bootstrap/layout.html.twig' %}

{% block content %}
<div class="jumbotron">
    <h1>Liste des Players</h1>
</div>

<div class="table tchoin">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Team</th>
                <th>Position</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a href="{{ path('admin_player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                <td>{{ player.firstname }}</td>
                <td>{{ player.lastname }}</td>
                <td>{{ player.team }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.image }}</td>
                <td>
                    <ul>

                        <a href="{{ path('admin_player_edit', { 'id': player.id }) }}"><input type="submit" value="Edit"</a>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>

<div class="loulou">
    <ul>
      <a href="{{ path('admin_player_new') }}">Create a new player</a>
    </ul>
</div>
{% endblock %}
