{% extends 'bootstrap/layout.html.twig' %}

{% block content %}
<div class="login">
  <div class="jumbotron">
    <h1>Player</h1>
  </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ player.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ player.lastname }}</td>
            </tr>
            <tr>
                <th>Team</th>
                <td>{{ player.team }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ player.position }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ player.image }}</td>
            </tr>
        </tbody>
    </table>

<div class="tchoin">
    <ul>

            <a href="{{ path('admin_player_edit', { 'id': player.id }) }}"><input type="submit" value="Edit"></a>


            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}

    </ul>
</div>
</div>
{% endblock %}
